// Define variables for your color scheme

// For example:
$red: #FF3760;
$blue: #209CEE;
$turquoise: #00D1B1;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #25232B;
$light-gray: #F4FAFF;
$white-alt: #F8F9FA;
$night: #1A2732;
