// Specific CSS for your home-page
.container img {
  width: 100%;
  padding-top: 3vmax;
}


.form-container {
  width: 30%;
  background-color: black;
  padding: 25px;
  color: $night;

  h2 {
    font-size: 2rem;

    &:after {
      content: '›';
      font-weight: 100;
      padding-left: .25em;
      color: $primary;
    }
  }

  a {
    color: $night;
    transition: $transition;
    text-decoration: none;
  }

  a:hover {
    color: $primary;
  }

  form {
    .btn[type="submit"], .btn.social-connect {
      @extend .btn-block;
    }

    & + a {
      display: inline-block;
      margin-top: 1em;
      font-size: .75em;
    }
  }
}


