// Place all the styles related to the keyinfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.key-emoji {
  font-size: 4vh;
  margin-right: 1vh;
  margin-bottom: 1rem;

  }

.container p{
opacity: 0.8;
}
