// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-content {
  background-size: cover;
  background-position: center;
  height: 86vh;

}


.padding-top {

  margin-top:20vh
}
