<!-- app/views/arrivals/_form.html.erb -->
<form>
  <div class="form-group">
    <label for="number">step number</label>
    <input type="text" class="form-control" id="number"placeholder="Enter a number">
  </div>
  <div class="form-group">
    <label for="description">instruction</label>
    <input type="text" class="form-control" id="description"placeholder="Type instruction">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
