<!-- TITLE -->
    <header>

        <h1 id="typed" data-strings="<%= ([] << @arrival.description).to_json %>" data-speed="100" data-loop="false" style="color: #e91e63; display: inline;"></h1>
    </header>


<iframe width="414" height="736" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=2A%20southborough%20terrace%2C%20cv31%202dt%20leamington&key=AIzaSyDHwg9GVtQDA0xSDo7T85nmeNDawCHhm1w" allowfullscreen></iframe>
