<!-- TITLE -->
    <header>

        <h1 id="typed" data-strings="<%= ([] << @arrival.description).to_json %>" data-speed="100" data-loop="false" style="color: #e91e63; display: inline;"></h1>
    </header>

<% if @arrival.number == 1 %>
  <iframe width="414" height="530" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1%20brunswick%20St%2C%20cv31%202ps%20leamington&key=AIzaSyDHwg9GVtQDA0xSDo7T85nmeNDawCHhm1w" allowfullscreen></iframe>
<% else %>
  <div class="main-content" style="background-image: url(<%= image_path "chocolate_arrival#{@arrival.number}.png"%>)">
    </div>
<% end %>

<%= render 'shared/navbar_bottom' %>

