<!-- TITLE -->
    <header>

        <h1 id="typed" data-strings="<%= ([] << @arrival.description).to_json %>" data-speed="100" data-loop="false" style="color: #e91e63; display: inline;"></h1>
    </header>


  <div class="main-content" style="background-image: url('<%= cl_image_path @arrival.photo, angle: :ignore, quality: :20%>')">
  </div>

<%= render 'shared/navbar_bottom' %>
