<!-- TITLE -->
    <header>

        <h1 id="typed" data-strings="<%= ([] << @arrival.description).to_json %>" data-speed="100" data-loop="false" style="color: #e91e63; display: inline;"></h1>
    </header>

    <div class="main-content" style="background-image: url(<%= image_path "chocolate_arrival#{@arrival.number}.png"%>)">
    </div>
    <%# FOOTER %>
    <%= render 'shared/footer' %>
