<div class="d-flex bg-grey justify-content-between p-3 align-items-center bottom-navbar">
  <script language="JavaScript">
    document.oncontextmenu =new Function("return false;")
  </script>
  <i class="fas fa-info-circle" data-toggle="modal" data-target="#exampleModalCenter"></i>
  <%= link_to "#", class: "navbar-logos" do %>
    <i class="fas fa-map-marked-alt"></i>
  <% end %>
  <%= link_to "#", class: 'home-logo' do %>
    <div>
      <%= image_tag "logo_easyinstructions3.png", style: 'width: 24px;' %>
    </div>
  <% end %>
  <%= link_to "#", class: "navbar-logos" do %>
    <i class="fas fa-wallet"></i>
  <% end %>
</div>

