
<footer class="myfooter fixed-bottom">

  <!--   BUTTON BACK  --->
    <div>
         <% if @step.number <= 1 %>
            <%= link_to "back", root_path, class: 'btn mybutton-light mybutton-lg' %>
          <% else %>
          <%= link_to "back", step_path(@step.number - 1), class: 'btn mybutton-light mybutton-lg'%>
          <% end %>
    </div>
 <!--   BUTTON INFO  --->

    <div>
 <!--   BUTTON NEXT  --->
          <% if @step.number <= 5 %>
            <%= link_to "next", step_path(@step.number + 1), class: 'btn btn-danger mybutton-lg' %>
          <% else %>
          <%= link_to "end", :controller => "steps", :action => "send_sms", class: 'btn btn-danger mybutton-lg' %>
          <% end %>
    </div>
</footer>

