<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram" style="opacity:0.5"></i></a>
    <a href="https://www.facebook.com/105897947453950"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter" style="opacity:0.5"></i></a>
  </div>


  <div class="container" style="text-align: center">
  2019 © Copyright. Easyinstructions.
  All Rights Reserved. Terms & Conditions.
  Managed & Developed in UK.
  </div>
</div>

