<div class="banner">  <!-- was banner home -->
          <h1><span><strong>instructions</strong><sup>&trade;</sup></span></h1>
          <h3 id="typed" data-strings="<%= ["step by step"].to_json  %>" data-speed="150" data-loop="true" style="display: inline"></h3>


      <div class="container">

              <%= link_to arrival_path(arrival_number = 1) do %>
              <%= image_tag "undraw_travelers_qlt1.png", id:"travelers",class:"img-fluid"%>

              <% end %>



              <%= link_to "start", arrival_path(arrival_number = 1), class: 'btn btn-danger mybutton-lg home' %>


      </div>
</div>

