<div class="banner home">
  <div class="container d-flex justify-content-between">
    <div>
      <h1><span><strong>easy instructions</strong><sup>&trade;</sup></span></h1>
      <p class="lead">my home<strong id="typed" data-strings="<%= [", step by..", ", step!"].to_json  %>" data-speed="40" data-loop="true"></strong></p>

      <%= link_to 'Step1', root_path, class: 'btn btn-danger btn-lg' %>
      <%= link_to 'Submit my application', '#', class: 'btn btn-outline-light btn-lg' %>
    </div>
  </div>
</div>
