

<!-- TITLE -->
    <header class="dashboard">
        <h2 id="typed" data-strings="<%= ([] << @step.description).to_json  %>" data-speed="100" data-loop="false" style="color: #e91e63; display: inline;"></h2>
    </header>
<br>
<br>
 <div class="container-fluid" style="padding:0;">

      <div class="main-content">
          <div class="col-12" style="padding:0;">
        <%= image_tag "chocolate_step#{@step.number}.png", style:"border-radius: 15px;"%>
          </div>
    </div>
  </div>
    <%# FOOTER %>
    <%= render 'shared/footer' %>


