.banner {
  // display: flex;
  height: 90vh;
  vertical-align: top;
  padding: 40px;
  background-size: cover;
  background-position: center;
  // color: rgba($night, .95);  /// was white on night (black) banner
  color: #4a4a4a;
  border: 0px;

  &.home {
    background: $quick-change;
    height: 90vh; // was 60vh
    // min-height: 400px; // was 600px
    // margin-top: 10px;
    // border-radius: 15px;
  }

  h1 {
    font-size: 3.2rem;

    span {
      font-size: 4.0rem;
      font-weight: 100;
      display: block;

      strong {
        font-weight: 900;
        margin-right: .25rem;
      }
    }
  }

  p.lead {
    font-size: 1.8rem;
    opacity: .9;

    strong {
      font-weight: 900;
    }
  }
}
