.banner {
    // background-image: url(./logo_easyinstructions4_large.png);
   // background: linear-gradient(150deg,rgba(0,0,0,0.7) 0%,transparent 80%);
    background-size: cover;
    background-position: center;
    color: white;
    height: 40vh;
    text-align: center;
    padding-top: 10vmax;
  }


.banner h3 {
  font-size: 4.0vh;
  font-weight: bold;

}

.wave
{
  width: 100%;
  position: relative;
  background: linear-gradient(150deg, gray, black);
  color: white;
  height: 20vmax;
  text-align: center;
  padding-top: 5vmax;
}

.wave::before
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(wave2.png);
  background-size: cover;
  background-repeat: no-repeat;
}


  h1 {
    font-size: 3.2vmax;

    span {
      font-size: 4.2vmax;
      font-weight: 100;
      display: block;

      strong {
        font-weight: 900;
      }
    }
  }

  p.lead {
    font-size: 1.8vmax;
    opacity: .9;

    strong {
      font-weight: 900;
    }
  }
