.banner {
    // background-image: url('https://images.unsplash.com/photo-1499428665502-503f6c608263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2400&q=80');
    max-width: 96%;
    color: #4a4a4a;
    text-align: center;
  }


.banner h3 {
  color: #e91e63;
  font-size: 4.0vh;
}

  h1 {
    font-size: 3.2vmax;

    span {
      font-size: 6.0vh;
      font-weight: 100;
      display: block;

      strong {
        font-weight: 900;
      }
    }
  }

  p.lead {
    font-size: 1.8vmax;
    opacity: .9;

    strong {
      font-weight: 900;
    }
  }
