.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3c7afd;
  transition: background 0.3s ease;
  font-size: 3vmax;
}

.btn-flat:hover {
  background: blue;
  color: white;
}
