.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3c7afd;
  transition: background 0.3s ease;
  font-size: 3vmax;
}

.btn-flat:hover {
  background: blue;
  color: white;
}


.mybutton-light {
  color: #f43761;
  // background-color: #F4FAFF;
  border-color: #f43761;
}
.mybutton-light2 {
  color: $blue;
  // background-color: #F4FAFF;
  border-color: $blue;
}

.mybutton-light3 {
  color: $light-gray;
  // background-color: #F4FAFF;
  border: none;
}


.mybutton-sm{
  padding: 0.5rem 1rem;
  font-size: 2vh;
  // line-height: 1.5;
  border-radius: 25px;
  width: 15vmax;

    &.home {
 padding: 1vh;
 width: 30%;
}

}

.mybutton-lg {
  padding: 0.5rem 1rem;
  font-size: 3vh;
  // line-height: 1.5;
  border-radius: 50px;
  width: 15vmax;

        &.home {
 padding: 3vh;
 width: 60%;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

        &.home:hover {
  background: light-red;
  color: white;
  border: none;

}
        &.auto {
 padding: 1vh;
 width: auto;
}
}
