header{
  // position: fixed;
  width: 105%;
  background-color: $gray;
  // box-shadow: 0px 0px 10px rgba($night,.8);
  z-index: 9;
  text-align: center;
  min-height: 15vmax;
  border-radius: 10px;

  h1 {
    font-size: 4vmax;
    color: #f6d724;
  }
}

