#keyinfos h1{
  font-size: 2vmax;
  padding: 16px;
}


#keyinfos span{
  font-size: 2vmax;
  padding: 16px;
}


#keyinfos input{
  font-size: 2vmax;
  padding: 16px;
  width: 18vmax;
}


#keyinfos button{
  font-size: 1.7vmax;
}
