.keyinfo-card {
  padding: 3vmax 0;
  text-align: center;
  width: 100%;
  height:auto;
  font-size: 3vmax;
}

.keyinfo-card-title{
  opacity: 0.9;
  font-size: 5vmax;
  margin-bottom: 4px;
 }


.keyinfo-card-text {
  color: RGBA(14,0,0.1,0.7);

}

.keyinfo-card-emoji {
  font-size: 8vmax;
}


.keyinfo-card .inputCopy{
  border: none;
  text-align: center;
  width: 25vmax;
}

.keyinfo-card strong{
  color: $theme;
}

.keyinfo-card {
  &.grey{
  background-color: #f4f4f4;
 }
}


.keyinfo-card {
  &.white{
  background-color: white;
  }
}
