.mybutton-light {
  color: #e91e63;
  // background-color: #F4FAFF;
  border-color: #e91e63;
}

.mybutton-lg {
  padding: 0.5rem 1rem;
  font-size: 3vmax;
  // line-height: 1.5;
  border-radius: 4px;
  width: 15vmax;

        &.home {
 width: 25vmax;
}

}


