.bs-canvas-overlay {
  opacity: 0;
  z-index: -1;
}

.bs-canvas-overlay.show {
  opacity: 0.85;
  z-index: 1100;
}

.bs-canvas-overlay, .bs-canvas {
  transition: $transition;
}

.bs-canvas {
  top: 0;
  z-index: 1110;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
  background: rgba($light-gray, .95);

  h4 {
    font-size: 1.5rem;
  }

  .dropdown-item {
    .fas.text-primary {
      @extend .text-primary;
    }

    .fas {
      color: $mygrey;
      @extend .mr-1;
      width: 20px;
    }
  }
}

.bs-canvas-left {
  left: 0;
  margin-left: -330px;
}

.bs-canvas-right {
  right: 0;
  margin-right: -330px;
}

.bs-canvas-right {
  top: 0;
  margin-right: -330px;
}

.bs-canvas-header {
  @extend .d-flex;
  @extend .justify-content-between;
  align-items: center;
  background: rgba($light-gray, .5);

  * {
    margin: 0;
    transition: $transition;
  }
  .fas {
    @extend .text-muted;
  }
}


.dropdown-item {
  transition: $transition;
  transition-duration: .3s;
}

.dropdown-item:hover, .dropdown-item:focus {
  &, a, a .fas {
    background: rgba($primary, .75);
    color: $white !important;
  }
}
